body {
    font-family: Arial, Helvetica, sans-serif;
}

* {
    box-sizing: border-box;
}


input[type=text],
select {
    width: 50%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

textarea {
    width: 50%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    vertical-align: top;
}

input[type=submit] {
    background-color: #dae8fc;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    border-radius: 6px;
    color: #fff;
    font-family: 'Oswald';
    font-size: 20px;
    text-decoration: none;

}

input[type=submit]:hover {
    background-color: #45a049;
}

.container {
    border-radius: 5px;
    background-color: white;
    padding: 20px;
}

label {
    display: inline-block;
    width: 140px;
    text-align: right;
}